input {
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px
  
    
}
fieldset{
    width: 50%;
    margin-left: auto;
    margin-right: auto
}
label{
    display: block;
    text-align: center
}
.pictures{
    width: 200px
}